<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler" />
    <section name="taskGroup" type="Util.TaskConfigurationSection, Util" />
  </configSections>
  <log4net>
    <!--定义输出到文件中-->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="log\\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy\\yyyyMM\\yyyyMMddHH'.txt'" />
      <staticLogFileName value="false" />
      <param name="MaxSizeRollBackups" value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <!--<conversionPattern value="【%-5level】：[%date][%logger][%message] %n"/>-->
        <conversionPattern value="%message %n" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <!--文件形式记录日志-->
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <appSettings>
    <!--数据库、redis-->
    <add key="MySql" value="SERVER=rdsk7i09f7ja6h9fgggi.mysql.rds.aliyuncs.com;USER ID=wcp1516;PASSWORD=s7-8h_7-_86hms;DATABASE=wcp;CHARSET=utf8" />
    <add key="Redis" value="10.47.91.178:6379,connectTimeout=100" />
    <add key="AStockRedis" value="10.47.91.178:6379,connectTimeout=100" />
    <add key="IdsKey" value="wcp" />
    <!--任务类型-->
    <add key="TaskType" value="News" />
    <!--外部销售团队-->
    <add key="CmpId" value="1" />
    <!--模拟测试-->
    <add key="SimData" value="" />
    <add key="NewsPath" value="e:\wcp\front\Views\News" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>