<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="WebPath" value="D:\PUB\LNIFS5DNA\WEB\"/>
    <add key="ServerAddr" value="http://localhost/LNIFS5DNAWeb/"/>
    <add key="LAB_ID" value="1E90620A287B20B2E043C0A8E60520B2"/>
    <add key="INIT_SERVER_NO" value="210000"/>
    <add key="RECEPTION_REGIONALISM" value="210000"/>
    <add key="RECEPTION_ORG_NAME" value="辽宁省公安厅"/>
    <add key="RECEPTION_TEL" value="024-86992071"/>
  </appSettings>
  <connectionStrings>
    <add name="IFSConnectionString" connectionString="Data Source=112.124.101.247;Initial Catalog=LNIFS5DNA;User Id=yct;Password=Iloveyou!;" providerName="System.Data.SqlClient"/>
    <!--<add name="IFSConnectionString" connectionString="Data Source=.;Initial Catalog=LNIFS5DNA;Integrated Security=true;" providerName="System.Data.SqlClient"/>-->
    <add name="OraConnectionString" connectionString="SERVER=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.78.1.130)(PORT=1521))(CONNECT_DATA=(SID=ztry1)));uid=gdna;pwd=gdna;" providerName="System.Data.OracleClient"/>
    <!--<add name="JZPTConnectionString" connectionString="SERVER=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.80.1.186)(PORT=1521))(CONNECT_DATA=(sid=oradb1)));uid=JWZH_RD17;pwd=Xzkj_5678;" providerName="System.Data.OracleClient"/>-->
    <!--辽宁-->
    <!--沈阳-->
    <add name="SYJZConnectionString" connectionString="SERVER=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.79.8.12)(PORT=1521))(CONNECT_DATA=(SID=xcky)));uid=lnzjk;pwd=lnzjk;" providerName="System.Data.OracleClient"/>
    <add name="SYXKConnectionString" connectionString="SERVER=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.79.8.12)(PORT=1521))(CONNECT_DATA=(SID=xcky)));uid=dna;pwd=dna;" providerName="System.Data.OracleClient"/>
    <!--大连-->
    <add name="DLJZConnectionString" connectionString="SERVER=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.80.1.135)(PORT=1521))(CONNECT_DATA=(SID=xcky)));uid=lnzjk;pwd=lnzjk;" providerName="System.Data.OracleClient"/>
    <add name="DLXKConnectionString" connectionString="SERVER=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.80.1.135)(PORT=1521))(CONNECT_DATA=(SID=xcky)));uid=dna;pwd=dna;" providerName="System.Data.OracleClient"/>
    <!--鞍山-->
    <!--抚顺-->
    <add name="FSJZConnectionString" connectionString="SERVER=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.81.75.125)(PORT=1521))(CONNECT_DATA=(SID=xcky)));uid=fszjk;pwd=fszjk;" providerName="System.Data.OracleClient"/>
    <add name="FSXKConnectionString" connectionString="SERVER=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.81.75.125)(PORT=1521))(CONNECT_DATA=(SID=xcky)));uid=dna;pwd=dna;" providerName="System.Data.OracleClient"/>
    <!--本溪-->
    <!--丹东-->
    <add name="DDJZConnectionString" connectionString="SERVER=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.81.193.98)(PORT=1521))(CONNECT_DATA=(SID=zhxx1)));uid=lnzjk;pwd=lnzjk;" providerName="System.Data.OracleClient"/>
    <add name="DDXKConnectionString" connectionString="SERVER=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.81.193.98)(PORT=1521))(CONNECT_DATA=(SID=zhxx1)));uid=dna;pwd=dna;" providerName="System.Data.OracleClient"/>
    <!--锦州-->
    <add name="JZJZConnectionString" connectionString="SERVER=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.82.0.135)(PORT=1521))(CONNECT_DATA=(SID=xcky)));uid=lnzjk;pwd=lnzjk;" providerName="System.Data.OracleClient"/>
    <add name="JZXKConnectionString" connectionString="SERVER=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.82.0.135)(PORT=1521))(CONNECT_DATA=(SID=xcky)));uid=dna;pwd=dna;" providerName="System.Data.OracleClient"/>
    <!--营口-->
    <add name="YKJZConnectionString" connectionString="SERVER=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.82.64.53)(PORT=1521))(CONNECT_DATA=(SID=xcky)));uid=lnzjk;pwd=lnzjk;" providerName="System.Data.OracleClient"/>
    <add name="YKXKConnectionString" connectionString="SERVER=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.82.64.53)(PORT=1521))(CONNECT_DATA=(SID=xcky)));uid=dna;pwd=dna;" providerName="System.Data.OracleClient"/>
    <!--阜新-->
    <add name="FXJZConnectionString" connectionString="SERVER=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.82.128.2)(PORT=1521))(CONNECT_DATA=(SID=xcky)));uid=lnzjk;pwd=lnzjk;" providerName="System.Data.OracleClient"/>
    <add name="FXXKConnectionString" connectionString="SERVER=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.82.128.2)(PORT=1521))(CONNECT_DATA=(SID=xcky)));uid=dna;pwd=dna;" providerName="System.Data.OracleClient"/>
    <!--辽阳-->
    <add name="LYJZConnectionString" connectionString="SERVER=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.82.193.246)(PORT=1521))(CONNECT_DATA=(SID=xcky)));uid=lnzjk;pwd=lnzjk;" providerName="System.Data.OracleClient"/>
    <add name="LYXKConnectionString" connectionString="SERVER=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.82.193.246)(PORT=1521))(CONNECT_DATA=(SID=xcky)));uid=dna;pwd=dna;" providerName="System.Data.OracleClient"/>
    <!--盘锦-->
    <!--铁岭-->
    <add name="TLJZConnectionString" connectionString="SERVER=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.83.0.39)(PORT=1521))(CONNECT_DATA=(SID=xcky)));uid=lnzjk;pwd=lnzjk;" providerName="System.Data.OracleClient"/>
    <add name="TLXKConnectionString" connectionString="SERVER=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.83.0.39)(PORT=1521))(CONNECT_DATA=(SID=xcky)));uid=dna;pwd=dna;" providerName="System.Data.OracleClient"/>
    <!--朝阳-->
    <add name="CYJZConnectionString" connectionString="SERVER=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.83.64.33)(PORT=1521))(CONNECT_DATA=(SID=cyfais)));uid=lnzjk;pwd=lnzjk;" providerName="System.Data.OracleClient"/>
    <add name="CYXKConnectionString" connectionString="SERVER=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.83.64.33)(PORT=1521))(CONNECT_DATA=(SID=cyfais)));uid=dna;pwd=dna;" providerName="System.Data.OracleClient"/>
    <!--葫芦岛-->
    <add name="HLDJZConnectionString" connectionString="SERVER=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.83.192.38)(PORT=1521))(CONNECT_DATA=(SID=orcl)));uid=lnzjk;pwd=lnzjk;" providerName="System.Data.OracleClient"/>
    <add name="HLDXKConnectionString" connectionString="SERVER=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.83.192.38)(PORT=1521))(CONNECT_DATA=(SID=orcl)));uid=dna;pwd=dna;" providerName="System.Data.OracleClient"/>
    <!--辽河-->
    <add name="LHJZConnectionString" connectionString="SERVER=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.79.192.77)(PORT=1521))(CONNECT_DATA=(SID=orcl)));uid=lnzjk;pwd=lnzjk;" providerName="System.Data.OracleClient"/>
    <add name="LHXKConnectionString" connectionString="SERVER=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.79.192.77)(PORT=1521))(CONNECT_DATA=(SID=orcl)));uid=dna;pwd=dna;" providerName="System.Data.OracleClient"/>
  </connectionStrings>
  <system.web>
    <identity impersonate="true" userName="administrator" password="1"/>
    <!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <compilation debug="true">
    </compilation>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
       -->
    <authentication mode="Windows"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <webServices>
      <protocols>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
  </system.web>
  <system.codedom>
  </system.codedom>
  <!-- 
        在 Internet 信息服务 7.0 下运行 ASP.NET AJAX 需要 system.webServer
        节。对早期版本的 IIS 来说则不需要此节。
    -->
  <system.webServer>
  </system.webServer>
</configuration>
