@charset "utf-8";
/* CSS Document */
/*-------------初始str--------------*/
body{color: #666666;font: 12px/150% "宋体",Tahoma,Helvetica,Arial,"微软雅黑",sans-serif;}
img {vertical-align: middle;}
.cen{margin: 0 auto;}
.w1200{width:1200px;}
.w1220{width:1220px;}
.w1000{width:1000px;}
.w980{width:980px;}
.w750{width:750px;}
.w40{ width:40px;}
.f-w{ font-weight:600;}
a, a:link, a:visited{color:#666666;text-decoration: none; outline:none;}
a:hover{ color:#B80000; text-decoration: underline; }
a img{ border:0 none;}
.m{margin-bottom:10px;}
.mb10{ margin-bottom:10px;}
.mb50{ margin-bottom:50px;}
.mt{background: none repeat scroll 0 0 #F7F7F7;height: 30px;}
.mt36{background: none repeat scroll 0 0 #F7F7F7;height: 36px;}
.km{ border:1px solid #DDDDDD;}
.m, .mt, .mc, .mb, .sm, .smt, .smc, .smb{overflow:hidden;}
.mt,.smt{cursor: default;}
.f-38b{color:#3388BB;}
.f-ca2{color:#ca2127;}
.f-e43{color:#B80000;}
.f-b73{color: #B73406}
.f-710{color:#710000;}
.f-005{color: #005EA6;}
.f-f6{color:#ff6600;}
.b-c-f{ background-color:#FFF;}
.f_s16{font-size: 16px;}
ol, ul{ list-style:none outside none;}
.f_l{ float:left;}
.f_r{ float:right;}
.p_r10{ padding-right:10px;}
.p_l100{ padding-left:100px;}
.m_l5{ margin-left:5px;}
.m_l45{ margin-left:45px;}
.m_t10{ margin-top:10px;}
.m_t20{ margin-top:20px;}
.m_t-10{ margin-top:-10px;}
.m_b10{ margin-bottom:10px;}
.m_b30{ margin-bottom:30px;}
.d_in{display:inline;}
.c_b{ clear:both}
.al_c{ text-align:center;}
.ld {position: relative;}
.f-s1{ font-size:1px;  line-height:1px;}
.p-name1{ height:1.5em;}
.p-img, .p-name,.p-name1, .p-price, .p-market, .p-detail,.p-city {overflow: hidden;}
.p-name, .p-detail,p-where {word-break: break-all;word-wrap: break-word;}
.ld s, .ld b, .ld .block {overflow: hidden;position: absolute;}
h2, h3{ font-size:14px;}
em{font-style: normal; }
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend{margin: 0;padding: 0;}
/*-------------初始str--------------*/
/*-----------页面地图str------------*/
.keyword {background-color: #FFFFFF;color: #666666;height: 20px;line-height: 20px; margin:10px 0px; padding-left:4px;}
.keyword h1,.keyword strong{font-size: 18px;font-weight: 700;line-height: 20px; display:inline; font-family:"微软雅黑";}
.keyword span{font-family:"宋体";}
/*-----------页面地图end------------*/
/*-----------页码str------------*/
.pagin a, .pagin span {border: 1px solid #CCCCCC;float: left;font-family: arial;font-size: 14px;height: 20px;line-height: 20px;margin-left: 2px;overflow: hidden;padding: 3px 10px;border-radius: 3px 3px 3px 3px;}
.pagin a:hover, .pagin span:hover {border: 1px solid #B80000; }
.pagin .pagok{float: left;font-family: arial;font-size: 14px;height: 20px;line-height: 20px;margin-left: 2px;overflow: hidden;padding: 3px 10px;font-weight:700; border:0; color:#B80000;border: 1px solid #ffffff;}
.pagin .allsex{ line-height:30px; padding:0 5px;}
.pagin input[type="text"] {background-color: #FEFEFE;border-color: #CCCCCC #DDDDDD #DDDDDD #CCCCCC;border-image: none;border-style: solid;border-width: 1px;box-shadow: 2px 2px 1px 0 #E7E7E7 inset;height: 16px;line-height: 14px; padding: 1px 2px 1px 4px; width:30px; margin:0 5px; text-align:center; color:#666666;}
/*-----------页码end------------*/
/********************底部快捷栏str************************/
#service{border-top: 1px solid #8f0100;overflow: hidden;padding: 30px 0;}
#service li{ width:259px; border-left: 1px solid #EEEEEE; float:left; padding:0 20px;}
#service .footer1 li{ width:209px;}
#service li.fore1{ border-left:0;}
#service li.fore1 b{ background-position:0 -55px;}
#service li.fore2 b{ background-position:0 -102px;}
#service li.fore3 b{ background-position:-50px -102px;}
#service li.fore4 b{ background-position:0 -149px;}
#service li dt{font:600 16px/40px "微软雅黑";color:#999; overflow:hidden; margin-bottom:10px;}
#service li b{background:url(../../image/head.png); width:40px; height:40px; float:left; }
#service li string,#service li dd{float:left;}
#service li dd{ padding-left:10px; width:119px; }
#service .footer1 li dd{ padding-left:10px; width:94px; }
#service li dd a{color: #999; font:12px/32px;}
/********************底部快捷栏end************************/
/*-----------页面底部str------------*/
#footer{ text-align:center; clear:both;}
#footer .links a, #footer .links span {margin: 0 10px;}
#footer div { margin-bottom:10px; }
/*-----------页面底部end------------*/
/*-----------头部str------------*/
#head.bg{background-color: #F7F7F7;border-bottom: 1px solid #D8D8D8;}
/*-----------头部end------------*/
